.container__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
}

.card__main {
    margin: 20px;
    perspective: 1000px;
}

/* Rota las letras */
.card__main:hover .card {
    transform: rotateY(180deg);
}

/* MOVIMIENTO DEL CARD */
.card {
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

/* ARREGLAR EL FONDO DE LA CARTA */
.card__front {
    background-size: cover;
    background-position: center;
}

/* QUITAR LA VISIBILIDAD A LA CARA DOS Y ARREGLAR EL TAMAÑO Y LA POSICION */
.card__front,
.card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

/* VISIBILIDAD DE LA CARTA */
.card__back {
    transform: rotateY(180deg);
    background: #fff;
}

/* EFECTO 3D DE LA CARA PRINCIPAL */
.body__card_front {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.body__card_front .card_front__title {
    display: none;
}



/* FONDO DE LA TARJETA(SOMBRADO) */
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

/* CUERPO DE ATRAS */

/* Efecto de letras en 3d al momento de darse la vuelta */
.body__card_back {
    padding: 40px;
    text-align: center;
    transform: translateZ(60px)
}

.body__card_back p {
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back .card_back__button {
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    transition: box-shadow 600ms;
}

.body__card_back .card_back__button:hover {
    box-shadow: 1px 1px 30px 0 #2b608b;
}


@media screen and (max-width: 760px) {
    .body__card_front .card_front__title {
        display: block;
        font-size: 30px;
    }

    .body__card_back .card_back__title {
        display: none;
    }
}